header {
    background-color: rgb(31, 24, 45);
    color:azure;
    padding: 10px 0; 
}

h1 {
    text-align: center;
}

nav ul {
    list-style: none; 
    display: flex; 
    justify-content: center;
}
nav li {
    margin: 0 20px;
}
nav a {
    text-decoration: none;
    color: azure;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    color: rgb(31, 24, 45);
}

#profile {
    display: block;
    margin: auto;
    max-width: 30%;
}

img {
    max-width: 50%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(31, 24, 45);
    color:azure;
}

